#main{
	padding-top: 52px;
	border: black 1px;
}


#logo{
	font-size: 20px;
	color:white;
}

#navleft{
	padding-right: 30px;
}

footer{
	background: black;
}

#heading{
	font-size: 20px;
	font-style: italic;
	padding-top: 5px;
}
.btn-link:hover, .btn-link:focus{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

.pull-right{
	padding-top: 0px;
}